src/RogueSharper.BrowseToReflector/Service References/Reflector/ReflectorBrowseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ReflectorBrowseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IReflectorBrowseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/ReflectorBrowseServiceMetadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/ReflectorBrowseServiceMetadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReflectorBrowseService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IReflectorBrowseService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IReflectorBrowseService_Browse_InputMessage">
    <wsdl:part name="parameters" element="tns:Browse" />
  </wsdl:message>
  <wsdl:message name="IReflectorBrowseService_Browse_OutputMessage">
    <wsdl:part name="parameters" element="tns:BrowseResponse" />
  </wsdl:message>
  <wsdl:portType name="IReflectorBrowseService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IReflectorBrowseService/Ping" message="tns:IReflectorBrowseService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReflectorBrowseService/PingResponse" message="tns:IReflectorBrowseService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Browse">
      <wsdl:input wsaw:Action="http://tempuri.org/IReflectorBrowseService/Browse" message="tns:IReflectorBrowseService_Browse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReflectorBrowseService/BrowseResponse" message="tns:IReflectorBrowseService_Browse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IReflectorBrowseService" type="tns:IReflectorBrowseService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IReflectorBrowseService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IReflectorBrowseService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Browse">
      <soap12:operation soapAction="http://tempuri.org/IReflectorBrowseService/Browse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReflectorBrowseService">
    <wsdl:port name="NetNamedPipeBinding_IReflectorBrowseService" binding="tns:NetNamedPipeBinding_IReflectorBrowseService">
      <soap12:address location="net.pipe://localhost/ReflectorBrowseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ReflectorBrowseService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>